@import url("../css/common.css");

html, body {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
 
    width: 100%;
    background: linear-gradient(transparent, transparent, #d9d9d9),  no-repeat center; 
}

#create_account {
    width: 50em;
    height: fit-content;
    line-height: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 7em auto;
}


#submit {
    background:#ccc; 
    cursor:pointer;
	margin-top: 1em;
}

#create_account input {
    width: 25em;
    display: table-column;
    margin-left: 1em;
    border: 1px solid #999;
    height: 2em;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

}

#country {
    width: 25em;
    display: table-column;
    background-color: white;
    margin-left: 1em;
    height: 2em;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#create_account label {
    text-align: right;
}

#create_account [name="status"] {
   
    width: 1em;
    margin-right: 2em;
    border: white;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
}

#statusRow {
    display: table;
    margin-left: 125%;
}

#statusDescription {
    display: table;
    margin-left: 125%;
}

#owner{
    width: 1em;
    margin-left: 0em;
}

#reviewer {
    width: 1em;
}

h1 {
    margin-left: 2em;
    text-align: center;
    font-weight: normal;
}