@import url("../css/common.css");


html, body{
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-ms-flex-align: center;
-webkit-align-items: center;
-webkit-box-align: center;

align-items: center;

width: 100%;
background: linear-gradient(transparent, transparent,transparent,transparent, #d9d9d9),  no-repeat center; 
}


