html, body {
	margin: 0 0 1em 0;
}


/***** Header *****/
header {
	position: fixed;
	background-color: #F26632;
	width: 100%;
	padding: 1em;
	top: 0;
	z-index: 9999;
}

#home {
	float: left;
	color: BLACK;
	font-size: 120%;
}

#textSearch {
	position: absolute;
	width: 20em;
	height: 1.5em;
	left: 50%;
	margin: 0 0 0 -10em;
}

a {
    color: #EEF0F0;
    text-decoration: none;
}

.header_link {
	float: right;
	margin-right: 3em;
}

/*******************/



#home_background {
		background-image: url("../images/homeImage.jpg");
		background-size: cover;
	  	height: 100%;
		margin-top: 3em;

}
#home_container {
	margin-top: 0em;
	height: auto;
}

#top_rated {
	float: left;
	margin-left: 10em;
}

#most_recent{
	float: right;
	margin-right: 10em;
}

a {
  color: black;
  text-decoration: none;
}


section {
	width: 30em;
	display: inline-block;
	margin-top: 3em;
}


section h1 {
	color: black;
	text-align : center;
}

.restaurant_container {
	border: 1px solid black;
}

article {
	background-size: cover;
 	color: #F26632;
  	padding: 2em;
	text-align: center;
}

article + article {
	border-top: 1px solid black;
}

article:hover {
	background-color: #EEF0F0;
	transition: background-color 300ms linear;
}

#formEdit {
	margin-top: 20em;
}


