@import url("../css/common.css");

#home_background {    
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;

		align-items: center;

		width: 100%;
		background: linear-gradient(transparent, transparent, white), url("../images/homeImage.jpg") no-repeat center; 
		background-size: cover;
		margin-top: 3em;
		height: 100%;

}

#home_container {
	margin: 0;
	width: 100%;
	overflow: auto;
}

#top_rated {
	float: left;
	margin-left: 10em;
}

#most_recent {
	float: right;
	margin-right: 10em;
}


.show_all {
	text-align: center;
	padding: 2em;
	background-color: black;
}

.show_all a {
	text-decoration: none;
	color: white;
	font-size: x-large;
}

section {
	width: 30em;
	display: inline-block;
	margin-top: 3em;
	margin-bottom: 2em;
}


section h1 {
	color: black;
	text-align : center;
}

.restaurant_container {
	border: 1px solid black;
}

article {
	background-size: cover;
 	color: #F26632;
  	padding: 2em;
	text-align: center;
}

article + article {
	border-top: 1px solid black;
}

article:hover {
	background-color: lightsalmon;
	transition: background-color 300ms linear;
}


#layout_image{
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 100%;
	text-align: center;
	z-index: 2;
}