@import url("../css/common.css");

.restaurant_container {
	border-top : 1px solid black;
    border-bottom : 1px solid black;
}


article {
	background-size: cover;
 	color: #F26632;
  	padding: 2em;
	text-align: center;
}

article + article {
	border-top: 1px solid black;
}

article:hover {
	background-color: lightsalmon;
	transition: background-color 300ms linear;
}


.user_review {
    border-top: 1px dotted lightgray;
    margin: auto;
    width: 40em;
}