@import url("../css/common.css");

section {
  margin: auto;
  margin-top: 15em;
  position: relative;
  width: fit-content;
  height: fit-content;
  line-height: 24px;
  text-decoration: none;
  padding: 10px;
}

section:not(#namesInfo){
	width: 30em;
	background-color:white;

	align-content: center;
	display: block;
	text-align: center;


	border: solid 2px;
	border-width: medium;
	border-color:  #3a3d42;
}

#namesInfo{
	width: 30em;
	background-color:white;

	align-content: center;
	display: block;
	text-align: center;

	border: solid 2px;
}



section:first-of-type{
	margin-top: 10em;
}

section + section{
	margin-top: 3em;
}

section h3{
	color: #3a3d42;
;
	text-align: center;
}

section h4{
	color: #3a3d42;
	text-align: center;
}

#namesInfo{
	color: #3a3d42;
}

#personalInfo{
	color: #3a3d42;
}

.restaurants{
	text-decoration: none;
}

.reviews{
	color: #3a3d42;
}

a{
	color: WHITE;
}

#formEdit {
	float: right;
	margin-top: 5em;
	margin-right: 5em;
}


#btnEdit {
    background:#ccc; 
    cursor:pointer;
	margin-top: 1em;
	width: 6em;
}

#btnEdit:hover {
    background-color: lightsalmon;
	transition: background-color 300ms linear;
}
