@import url("../css/common.css");

section {
  margin: auto;
  margin-top: 15em;
  position: relative;
  width: fit-content;
  height: fit-content;
  line-height: 24px;
  text-decoration: none;
  padding: 10px;
}

section:not(#namesInfo){
	width: 30em;
	background-color:white;

	align-content: center;
	display: block;
	text-align: center;


	border: solid 2px;
	border-width: medium;
	border-color:  #3a3d42;
}

#namesInfo{
	width: 30em;
	background-color:white;
	margin-bottom: 2em;

	display: flex;
	align-content: center;
	text-align: center;
	border: solid 2px;

	background-color:white;

	align-content: center;
	display: block;
	text-align: center;


	border: solid 2px;
	border-width: medium;
	border-color:  #3a3d42;
}

img {
    float: right;
    margin-right: 9em;
}


#infoUser {
	margin-right: 5em;
}

#btnEdit {
    background:#ccc; 
    cursor:pointer;
	width: 10em;

	border: 1px solid #999;
    height: 2em;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#btnEdit:hover {
    background-color: lightsalmon;
	transition: background-color 300ms linear;
}

#profileImage {
	margin-top: 2.5em;
	margin-left: 2em;
}



section:first-of-type{
	margin-top: 10em;
}

section + section{
	margin-top: 3em;
}

section h3{
	color: #3a3d42;
;
	text-align: center;
}

section h4{
	color: #3a3d42;
	text-align: center;
}

#namesInfo{
	color: #3a3d42;
}

#personalInfo{
	color: #3a3d42;
}

.restaurants{
	text-decoration: none;
}

.reviews{
	color: #3a3d42;
}

a{
	color: #3a3d42;
}

#statusUser {
	color: lightsalmon;
}

#username {
	color: lightsalmon;
}

