@import url("../css/common.css");


section {
    width: 100%;
	display: block;
    text-align: center;
}

section:first-of-type {
    margin-top: 10em;
}

section + section {
    margin-top: 3em;
}


section h1 {
	color: #3a3d42;
	text-align : center;
}

section h3 {
	color: #3a3d42;
	text-align : center;
}

#additionalInfo{
	color: #3a3d42;
}

#mainInfo {
	color: lightsalmon;
}

.review {
    width: 20em;
	border-color: #3a3d42;
    text-decoration: none;
    border: solid 2px;
    border-width:medium;
    margin-left: 50%;
	transform: translateX(-10em);
	margin-top: 1em;
}

.username {
	color: #3a3d42
}

.rating {
	color: lightsalmon;
}

#btnEdit {
	padding: 1em;
}

#btnAdditionalInfo {
	width: 2em;
	margin-left: 50%;
	transform: translate(-1em, 1em);
}

#line {
	width: 100%;
	border-top: 1px solid lightsalmon;
}