@import url("../css/common.css");


section {
    width: 100%;
	display: block;
    text-align: center;
}


section + section {
    margin-top: 3em;
}


section h1 {
	color: #3a3d42;
	text-align : center;
}

section h3 {
	color: #3a3d42;
	text-align : center;
}

#additionalInfo{
	color: #3a3d42;
}

#mainInfo {
	color: lightsalmon;
	margin-top: 6em;
}

.review {
    width: 20em;
	border-color: #3a3d42;
    text-decoration: none;
    border: solid 2px;
    border-width:medium;
    margin-left: 50%;
	transform: translateX(-10em);
	margin-top: 1em;
}

.username {
	color: #3a3d42
}

.rating {
	color: lightsalmon;
}

#btnEdit {
	background:#ccc; 
    cursor:pointer;
    margin: 6em auto auto 85%;
	width: 10em;
}

#btnEdit:hover {
    background-color: lightsalmon;
	transition: background-color 300ms linear;
}


#btnAdditionalInfo {
	width: 2em;
	margin-left: 50%;
	transform: translate(-1em, 1em);
}

#btnAdditionalInfo::after {
	width: 100%;
	border-top: 1px solid lightsalmon;
}


#upload {
	background:#ccc; 
    cursor:pointer;
	width: 10em;

	border: 1px solid #999;
    height: 2em;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#upload:hover {
    background-color: lightsalmon;
	transition: background-color 300ms linear;
}


#line {
	width: 100%;
	border-top: 1px solid lightsalmon;
}

#map {
	width: 20em;
	height: 15em;
	margin: 2em auto;
}

#location_wrapper {
	margin: 2em auto;
}